@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BR Firma;
    font-weight: 300;
    src: url('fonts/BR-Firma-Thin.otf');
  }

  @font-face {
    font-family: 'BR Firma Light';
    src: url('fonts/BR-Firma-Light.otf');
  }
  @font-face {
    font-family: BR Firma;
    font-weight: 400;
    src: url('fonts/BR-Firma-Regular.otf');
  }
  @font-face {
    font-family: BR Firma;
    font-weight: 500;
    src: url('fonts/BR-Firma-Regular.otf');
  }
  @font-face {
    font-family: 'BR Firma Medium';
    src: url('fonts/BR-Firma-Medium.otf');
  }
}
